{% extends 'index.html' %}

{% block content %}
        <div class="container-dash">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card w-50">
                        <img src="https://i.ibb.co/GJzMSx4/Requerimientos.webp w-30" class="mx-auto d-block w-100 h-80" alt="...">
                        <div class="card-body text-center">
                            <a  href="requerimientos" class="btn btn-custom">Requerimientos</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card w-50">
                        <img src="https://i.ibb.co/YLjRdwn/image-18.png" class="mx-auto d-block w-100 h-70" alt="...">
                        <div class="card-body text-center">
                            <a  href="tablero" class="btn btn-custom">Tablero</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card w-50">
                        <img src="https://i.ibb.co/MnPmjj5/image-19.png" class="mx-auto d-block w-100 h-80" alt="...">
                        <div class="card-body text-center">
                            <a  href="activos" class="btn btn-custom">Activos</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>


{% endblock %}