{% extends 'base.html' %}

{% block content %}

<!-- Modal Registros Nuevos -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 w-100 text-center" id="createModalLabel">Registrar Requerimiento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{form.as_p}}
                    <!-- <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="#" name="requerimientoId"
                                id="requerimientoId" hidden>
                        </div>
                    </div> -->
                    <!-- <div class="row mb-3">
                        <div class="col">
                            <label for="id_ticket"># Ticket <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_ticket" name="ticket" placeholder="# Ticket"
                                required>
                        </div>
                        <div class="col">
                            <label for="id_requerimiento">Nombre Requerimiento <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="id_requerimiento" name="requerimiento"
                                placeholder="Requerimiento" required>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="id_fechaCreacion">Fecha De Creación <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="id_fechaCreacion" name="fechaCreacion" required>
                        </div>
                        <div class="col">
                            <label for="id_fechaPruebas">Fecha Estimada Pruebas <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="id_fechaPruebas" name="fechaPruebas">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="id_medioCarga">Medio De Carga <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="medioCarga" name="medioCarga"
                                id="id_medioCarga" required>
                                {% for medios in medios %}
                                <option value="{{ medios.medioCarga }}">{{ medios.medioCarga }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <label for="id_plataforma">Plataforma <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="plataforma" name="plataforma"
                                id="id_plataforma" required>
                                {% for plataformas in plataformas %}
                                <option value="{{ plataformas.plataforma }}">{{ plataformas.plataforma }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="id_estado">Estado Ticket <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="estado" name="estado" id="id_estado" required>
                                {% for estados in estados %}
                                <option value="{{ estados.estado }}">{{ estados.estado }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <label for="id_alianzaSolicitante">Alianza Solicitante <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="alianzaSolicitante" name="alianzaSolicitante"
                                id="id_alianzaSolicitante" required>
                                {% for alianzas in alianzas %}
                                <option value="{{ alianzas.alianzaSolicitante }}">{{ alianzas.alianzaSolicitante }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="id_areaSolicitante">Area Solicitante <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="areaSolicitante" name="areaSolicitante"
                                id="id_areaSolicitante" required>
                                {% for areas in areas %}
                                <option value="{{ areas.areaSolicitante }}">{{ areas.areaSolicitante }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="id_responsable">Responsable Ticket <span class="text-danger">*</span></label>
                            <select class="form-select mb-3" aria-label="responsable" name="responsable"
                                id="id_responsable" required>
                                {% for responsables in responsables %}
                                <option value="{{ responsables.responsable }}">{{ responsables.responsable }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="guardarRequerimiento">Registrar</button>
                    <!-- <button class="btn btn-primary d-none btnLoading" type="button" disabled id="loadingButton">
                    <span class="spinner-border spinner-border-sm " aria-hidden="true"></span>
                    <span role="status">Loading...</span>
                </button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin del modal Creacion Requerimientos-->

<div class="container mt-2">
    <h1 style="text-align: center; color: white;">Requerimientos Desarrollos S4L</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 col-xxl-4">
                <label for="input-search" style="color: white;"><strong>Nombre Del
                        Requerimiento</strong></label>
                <input type="text" class="form-control" id="input-search" placeholder="Requerimiento">
            </div>
            <div class="col-5 col-sm-6 col-md-3 col-lg-4 col-xl-4 col-xxl-4">
                <label for="input-anio" style="color: white;"><strong>Año</strong></label>
                <input type="text" class="form-control" id="input-anio" placeholder="Año">
            </div>
            <div class="col-7 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                <br>
                <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">
                    Nuevo Requerimiento</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 2%;">
    <table class="table table-striped table-hover t-resp">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Requerimiento</th>
                <th>Fecha Creacion</th>
                <th>Fecha Pruebas</th>
                <th>Usuario Creo</th>
            </tr>
        </thead>
        <tbody>
            {% for reqs in reqs %}
            <tr>
                <!-- <td><a href="{% url 'req_detail' reqs.id %}">{{reqs.ticket}}</a></td> -->
                <td>{{reqs.ticket}}</td>
                <td>{{reqs.requerimiento}}</td>
                <td>{{reqs.fechaCreacion}}</td>
                <td>{{reqs.fechaPruebas}}</td>
                <td>{{reqs.user.username}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}