{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Requerimiento</th>
            <th>Fecha Creacion</th>
            <th>Fecha Pruebas</th>
            <th>Usuario Creo</th>
        </tr>
    </thead>
    <tbody>
        {% for reqs in reqs %}
        <tr>
            <!-- <td><a href="{% url 'req_detail' reqs.id %}">{{reqs.ticket}}</a></td> -->
            <td>{{reqs.ticket}}</td>
            <td>{{reqs.requerimiento}}</td>
            <td>{{reqs.fechaCreacion}}</td>
            <td>{{reqs.fechaPruebas}}</td>
            <td>{{reqs.user.username}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}